<%- include('../shared/header') %>

<h1>Login</h1>
<form method="post">
  <label for="nom">Votre nom</label>
  <input type="text" id="nom" name="nom" />

  <input type="submit" value="Se connecter" />
</form>
<%- include('../shared/footer') %>
